services:
  db:
    image: mysql:8.0
    container_name: DevSketch-MYSQL
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    networks:
      - DevSketch-Net

  backend:
    container_name: DevSketch-Backend
    build:
      context: ../Backend
    volumes:
      - static_volume:/Backend/static
      - /var/run/docker.sock:/var/run/docker.sock
      - ./temp:/DevSketch-Backend/temp  # 호스트의 ./temp 디렉토리를 컨테이너의 /DevSketch-Back
    ports:
      - "8000:8000"
    environment:
      RUNNING_IN_DOCKER: 'true'
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DEEPSEEK_API_KEY: ${DEEPSEEK_API_KEY}
      DEEPSEEK_API_URL: ${DEEPSEEK_API_URL}
      CELERY_BROKER_URL: ${CELERY_BROKER_URL}
      CELERY_RESULT_BACKEND: ${CELERY_RESULT_BACKEND}
      FRONTEND_RESULT_URL: ${FRONTEND_RESULT_URL}
    networks:
      - DevSketch-Net
    restart: always
    command: >
      sh -c "gunicorn --bind 0.0.0.0:8000 config.wsgi:application --timeout 300"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`backend.localhost`)"  # 백틱으로 수정
      - "traefik.http.services.backend.loadbalancer.server.port=8000"
    privileged: true

  redis:
    image: redis:7.0
    container_name: DevSketch-Redis
    ports:
      - "6379:6379"
    networks:
      - DevSketch-Net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: DevSketch-RabbitMQ
    ports:
      - "5672:5672"  # Default RabbitMQ port
      - "15672:15672"  # RabbitMQ Management UI
    networks:
      - DevSketch-Net

  celery_worker:
    build:
      context: ../Backend
    container_name: DevSketch-Celery-Worker
    command: celery -A config worker --loglevel=info
    depends_on:
      - backend
      - rabbitmq
      - redis
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./temp:/DevSketch-Backend/temp  # 호스트의 ./temp 디렉토리를 컨테이너의 /DevSketch-Back
    environment:
      CELERY_BROKER_URL: ${CELERY_BROKER_URL}
      CELERY_RESULT_BACKEND: ${CELERY_RESULT_BACKEND}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_NAME: ${MYSQL_DATABASE}
      DATABASE_USER: ${MYSQL_USER}
      DATABASE_PASSWORD: ${MYSQL_PASSWORD}
      DEEPSEEK_API_URL: ${DEEPSEEK_API_URL}
      DEEPSEEK_API_KEY: ${DEEPSEEK_API_KEY}
      FRONTEND_RESULT_URL: ${FRONTEND_RESULT_URL}
    networks:
      - DevSketch-Net
    privileged: true

  traefik:
    image: traefik:v2.9
    container_name: DevSketch-Traefik
    command:
      - "--api.insecure=true"  # Traefik 대시보드 활성화 (개발 환경에서만 사용)
      - "--providers.docker=true"  # Docker를 라우팅 소스로 사용
      - "--entrypoints.web.address=:80"  # HTTP 엔트리포인트 설정
    ports:
      - "80:80"  # Traefik이 80번 포트를 통해 요청 처리
      - "8080:8080"  # Traefik 대시보드
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"  # Docker와 통신
    networks:
      - DevSketch-Net

volumes:
  db_data:
  static_volume:

networks:
  DevSketch-Net:
    driver: bridge